@section scripts{

    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/Angular-Services/Services.js")
    @Scripts.Render("~/Scripts/Angular-App/BookShelfApp.js")
    @Scripts.Render("~/Scripts/Angular-Controllers/BookShelfCtrl.js")
    @Scripts.Render("~/Scripts/angular-mocks.js")
    @Scripts.Render("~/Scripts/QUnit/qunit-1.14.0.js")
    @Scripts.Render("~/Scripts/QUnit/sinon-1.9.1.js")
    @Scripts.Render("~/Scripts/Tests/BookShelfCtrlSpec.js")
}

<div>
    <div id="qunit">
    </div>
    <div id="qunit-fixture">   
    </div>
</div>
